{{!< LAYOUT}}

<div class="container">
  <h2 class="text-center">Add new item</h2>

  <div class="col-xs-10 col-xs-offset-1">
    <form action="/bikes/add" method="post">
      <div class="form-group">
        <label for="brand">Brand</label>
        <select class="form-control" name="brand" required>
          <option value="Honda">Honda</option>
          <option value="Yamaha">Yamaha</option>
          <option value="Suzuki">Suzuki</option>
          <option value="Kawasaki">Kawasaki</option>
          <option value="Ducati">Ducati</option>
          <option value="Triumph">Triumph</option>
        </select>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control" type="text" name="model" required>
      </div>
      <div class="form-group">
        <label for="engine">Engine</label>
        <input class="form-control" type="text" name="engine" required>
      </div>
      <div class="form-group">
        <label for="engine">Fuel system</label>
        <input class="form-control" type="text" name="fuel_system" required>
      </div>
      <div class="form-group">
        <label for="ignition">Ignition</label>
        <input class="form-control" type="text" name="ignition" required>
      </div>
      <div class="form-group">
        <label for="suspension">Suspension</label>
        <input class="form-control" type="text" name="suspension" required>
      </div>

      <fieldset>
        <legend>Power</legend>
        <div class="form-group">
          <label for="power_horsepower">Horsepower</label>
          <input class="form-control" type="number" name="power_horsepower" required>
        </div>
        <div class="form-group">
          <label for="power_torque">Torque</label>
          <input class="form-control" type="number" name="power_torque" required>
        </div>
      </fieldset>

      <fieldset>
        <legend>Tires</legend>
        <div class="form-group">
          <label for="tires_front">Front</label>
          <input class="form-control" type="string" name="tires_front" required>
        </div>
        <div class="form-group">
          <label for="tires_rear">Rear</label>
          <input class="form-control" type="string" name="tires_rear" required>
        </div>
      </fieldset>

      <fieldset>
        <legend>Breaks</legend>
        <div class="form-group">
          <label for="breaks_front">Front</label>
          <input class="form-control" type="string" name="breaks_front" required>
        </div>
        <div class="form-group">
          <label for="breaks_rear">Rear</label>
          <input class="form-control" type="string" name="breaks_rear" required>
        </div>
      </fieldset>

      <fieldset>
        <legend>Dimensions</legend>
        <div class="form-group">
          <label for="dimensions_rake">Rake</label>
          <input class="form-control" type="number" name="dimensions_rake" required>
        </div>
        <div class="form-group">
          <label for="dimensions_trails">Trails</label>
          <input class="form-control" type="number" name="dimensions_trail" required>
        </div>
        <div class="form-group">
          <label for="dimensions_wheelbase">Wheelbase</label>
          <input class="form-control" type="number" name="dimensions_wheelbase" required>
        </div>
        <div class="form-group">
          <label for="dimensions_length">Length</label>
          <input class="form-control" type="number" name="dimensions_length" required>
        </div>
        <div class="form-group">
          <label for="dimensions_width">Width</label>
          <input class="form-control" type="number" name="dimensions_width" required>
        </div>
        <div class="form-group">
          <label for="dimensions_height">Height</label>
          <input class="form-control" type="number" name="dimensions_height" required>
        </div>
        <div class="form-group">
          <label for="dimensions_seat_height">Seat height</label>
          <input class="form-control" type="number" name="dimensions_seat_height" required>
        </div>
        <div class="form-group">
          <label for="dimensions_dry_weight">Dry weight</label>
          <input class="form-control" type="number" name="dimensions_dry_weight" required>
        </div>
        <div class="form-group">
          <label for="dimensions_wet_weight">Wet weight</label>
          <input class="form-control" type="number" name="dimensions_wet_weight" required>
        </div>
      </fieldset>

      <fieldset>
        <legend>Performance</legend>
        <div class="form-group">
          <label for="performance_top60mph">Top 60mph</label>
          <input class="form-control" type="number" name="performance_top60mph" required>
        </div>
        <div class="form-group">
          <label for="performance_top_speed">Top speed</label>
          <input class="form-control" type="number" name="performance_top_speed" required>
        </div>
        <div class="form-group">
          <label for="performance_fuel_economy">Fuel economy</label>
          <input class="form-control" type="number" name="performance_fuel_economy" required>
        </div>
      </fieldset

      <div class="form-group">
        <div class="col-xs-4 col-xs-offset-4">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
