{{!< LAYOUT}}

<div class="container">
  <h2 class="text-center">Add new item</h2>

  <div class="col-xs-10 col-xs-offset-1">
    <form action="/bikes/add" method="post">
      <div class="form-group">
        <label for="brand">Brand</label>
        <select class="form-control" name="brand" required>
          <option value="Honda">Honda</option>
          <option value="Yamaha">Yamaha</option>
          <option value="Suzuki">Suzuki</option>
          <option value="Kawasaki">Kawasaki</option>
          <option value="Ducati">Ducati</option>
          <option value="Triumph">Triumph</option>
        </select>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control" type="text" name="model" required>
      </div>
      <div class="form-group">
        <label for="engine">Engine</label>
        <input class="form-control" type="text" name="engine" required>
      </div>
      </div>
      <div class="form-group">
        <div class="col-xs-4 col-xs-offset-4">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
