{{!< LAYOUT}}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Producer</th>
      <th>Lipsum</th>
    </tr>
  </thead>
  <tbody>
    {{#each bikes}}
      <tr>
        <td><a href="/bikes/preview/{{id}}">{{brand}}</a></td>
        <td>{{model}}</td>
        <td>{{engine}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
